/* CUSTOM */
@import "owl/owl.carousel",
		"owl/owl.theme",
		"owl/owl.transitions";

html, body, p, div, h1, h2, h3, h4, h5, a{
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
}
html, body, p, div{
	font-weight: 300;
}
/* HEADER */

/* DEFAULT NAV */
#masthead.alt .navbar-default .navbar-nav > li > a{
	color: rgba(30, 91, 163, 0.6);
	line-height: normal;
	padding: 10px 20px;
}


@-moz-keyframes reveal-header {
	0% {
		top: -5em;
	}

	100% {
		top: 0;
	}
}

@-webkit-keyframes reveal-header {
	0% {
		top: -5em;
	}

	100% {
		top: 0;
	}
}

@-ms-keyframes reveal-header {
	0% {
		top: -5em;
	}

	100% {
		top: 0;
	}
}

@keyframes reveal-header {
	0% {
		top: -5em;
	}

	100% {
		top: 0;
	}
}

#masthead {
	background: rgba(34, 34, 34, 0.6);
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10000;

	nav {
		position: absolute;
		top: 0;
		width: 100%;
		vertical-align: middle;
	}

	&.reveal {
		-moz-animation: reveal-header 0.5s;
		-webkit-animation: reveal-header 0.5s;
		-ms-animation: reveal-header 0.5s;
		animation: reveal-header 0.5s;
	}

	&.alt {
		-moz-animation: none;
		-webkit-animation: none;
		-ms-animation: none;
		animation: none;
		background: none;
		color: #666;
		position: absolute;
	}
}

.top-bar-section{
	color:#fff;
	padding-right: 30px;
	li{
		color:#fff;
		list-style: disc;
		padding: 0;
		margin: 0 0 0 30px;
		width: auto;
		&:first-child{
			list-style: none;
		}
	}

	li:not(.has-form) {
		background: none;
		a:not(.button) {
			background: none;
			text-transform: uppercase;
			font-size: 14px;
			padding: 0 10px;
			&:hover{
				background: none;
			}
		}

		&.active{
			a:not(.button) {
				padding: 0;
				background: none;

				&:hover{
					background: none;
				}
			}
		}

		&:before{
			 color: #fff;
		}
	}
}



.large-bg{
	background:url(../img/top-background.png) no-repeat;
	background-size: cover;
	position: relative;
	overflow: hidden;
	display: block;
	width: 100%;

	.overlay{
		&.head-cover{
			background:url(../img/pattern.png);
			position: absolute;
			height: 100%;
			width: 100%;
			top:0;
			left:0;
			right: 0;
			bottom: 0;
			opacity: 0.7;
			z-index: 2;
		}
	}

	.head-content{
		display: block;
		z-index: 9;
		position: absolute;    
		margin: -10% 0 0 0;
		left: 0;
		right: 0;
		top: 50%;
	}

	.head-text{
		position: relative;
		color: #fff;
		text-align: center;
		small{
			font-size: 18px;
			color: #fff;
			width: 300px;
		    position: relative;
		    margin: 0 auto;
		    display: block;

			&:after{
				content: " ";
				height: 1px;
				width: 100px;
				background: #fff;
	    		display: block;
	    		position: absolute;
	    		top: 13px;
	    		left: 0;
			}

			&:before{
				content: " ";
				height: 1px;
				width: 100px;
				background: #fff;
	   			display: block;
	   			position: absolute;
	    		top: 13px;
	    		right: 0;
			}
		}
		h1{
			font-size: 90px;
			letter-spacing: 2px;
			text-transform: uppercase;
			color: #fff;
			font-weight: 700;
		}
	}

}

.brand-logo{
	width: 70%;
	margin: 0 auto;
	.owl-carousel .owl-item{
		text-align: center;
	}
}

.scroll-down{
	position: absolute;
	z-index: 9;
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom: 20px;
}

/* OWL IMG */

#owlize{
	.item{
		img{
			filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
		    filter: gray; /* IE6-9 */
		    -o-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
		    -moz-filter: grayscale(100%); 
		    -webkit-filter: grayscale(100%); 
		    -webkit-transition: all 0.5s ease;
		    -moz-transition: all 0.5s ease;
		    -ms-transition: all 0.5s ease;
		    -o-transition: all 0.5s ease;
		    transition: all 0.5s ease;
		}

		&:hover{
			img{
				 filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");    			
    			-o-filter: grayscale(0%);
    			-moz-filter: grayscale(0%);
    			-webkit-filter: grayscale(0%);
			}
		}
	}
}

/* SECTION */
.products{
	background:url(../img/sect2.png) no-repeat;
	background-size: cover;
	position: relative;
	overflow: hidden;
	display: block;
	width: 100%;

	.products-wrap{
		.product{
			text-align: center;
			margin-bottom: 25px;
		}
	}
}
 .partner, .license{
	text-align: center;
	margin-bottom: 25px;
}


.heading-sect{
	text-align: center;
	padding: 50px 0;

	h2{
		font-size: 60px;
		text-transform: uppercase;
		font-weight: 700;
	}

	.subtxt{
		font-size: 18px;
		font-weight: 300;
	}

	&.heading-bg{
		color: #fff;
		background: url(../img/heading.png) no-repeat;
		margin-bottom: 60px;

		h2{
			color: #fff;
		}
	}
}

.padded{
	padding: 80px 0;
}


.wrap-3s{
	text-align: center;

	.block-3s{
		color: #fff;
		font-weight: 900;
		font-size: 40px;
		padding: 100px 0;
	}

	.customs{
		background: url(../img/1.jpg) no-repeat;
		background-size: cover;
	}

	.teams{
		background: url(../img/2.jpg) no-repeat;
		background-size: cover;
	}

	.causes{
		background: url(../img/3.jpg) no-repeat;
		background-size: cover;
	}
}
.contact{
	color: #fff;

		.contact_container{
			padding: 80px;
			margin: auto;
		}
		.contact_bg{
			background:url(../img/contact-bg.png) no-repeat;
			background-size: cover;
			position: relative;
			overflow: hidden;
			display: block;
			width: 100%;
			}

		.contact_info{
			text-transform: uppercase;
			font-weight: bold;
			font-size: 12px;
			float:right;
			text-align: right;
		}

		.contact_info_sub{
			text-transform: none;
			font-size: 12px;
			float:bottom;
			text-align: right;
		}

		.contact_info_icon{
			float: right;
			vertical-align: middle;
			padding: 0px;
			/* margin-bottom: 5px; */
			text-align: center;
			margin-left: -10px;


		}

		.contact_info_icon_size{
			font-size: 1.5em;
			vertical-align: middle;			
			display: inline-block;
			text-rendering: auto;
    			-webkit-font-smoothing: antialiased;
    			margin: auto;

		}
		
		.form_pos{
			/* margin-left: -79px; */
			padding: 5px;
			float: right;
			margin: auto;
			display: inline;
			width: 100%;
		}

		
		 input[type=submit] {
		    cursor:pointer;
		    font-size: 12px;
		    width: 100%;
		    font-color: #fff;

		}

		input{
			border: 0px;
			border-bottom: 1px solid white;

			// width: 150%;
			// height: 110%;
		}

		.textarea{
			background: rgba(255, 255, 255, 0) no-repeat scroll 16px 16px; 
			    height: 94px;
			    border-bottom: 1px solid white;
			    -moz-background-clip: padding;
			    -webkit-background-clip: padding-box;
			    background-clip: padding-box; 
			    display:block;
			    color:#fff;
			    padding-right:20px;
			    padding-top:12px;
			    overflow:hidden;
			    width: 100%;
			    float: right;
		}

	.name {
	    background: rgba(255, 255, 255, 0) no-repeat scroll 16px 16px; 
	    border-bottom: 1px solid white;
	    display:block;
	    color:#fff;
	   -moz-background-clip: padding;
	    -webkit-background-clip: padding-box;
	    background-clip: padding-box;
	}

	input[type=text]:focus, input[type=email]:focus, textarea:focus { 
	background-color: rgba(0, 0, 0, 0);
    	overflow: hidden; 
  	outline: 0px;
  	}

  	.button{
  		 background: #B71C1C;
  		 width: 100%;
  		 border:0px;
  	}
}

.bold{
	font-weight: bold;
}

footer{
	background-color: #222222;
	color: #474747;
	padding: 50px;
	vertical-align: center;
	margin: auto;
	text-align: center;
ul{
	padding: 20px;
}
	a, a:focus{
	 color: #474747;
	}
	
	li{
		
		list-style: disc;
		padding: 0;
		margin: 0 0 0 30px;
		width: auto;
		display: inline;
		text-align: center;
		&:first-child{
			list-style: none;
		}
	}

	li:not(.has-form) {
		background: none;
		a:not(.button) {
			background: none;
			text-transform: uppercase;
			font-size: 14px;
			padding: 0 10px;
			color: #474747;
			&:hover{
				background: none;
			}
		}

		&.active{
			a:not(.button) {
				padding: 0;
				background: none;

				&:hover{
					background: none;
				}
			}
		}

		&:before{
			 color: #474747;;
		}
	}

	.social_icon
	{
		margin: 10px;
	}

}




// .contact
// {
// 	color: #fff;
	
// 		.contactimg{
// 		background:url(../img/contact-bg.png) no-repeat;
// 		background-size: cover;
// 		position: relative;
// 		overflow: hidden;
// 		display: block;
// 		width: 100%;
		
// 		}

// 		.contact_containter
// 		{
// 			margin-top: 200px;
// 			margin-bottom: 200px;

// 				.callUsGroup
// 				{
							
// 					width:400px;
// 					vertical-align:middle;
// 					float: left;

				
// 				}
// 				.contact_form
// 				{
					
// 					float: right;
// 					width: 350px;
					
// 				}

// 		}

// 		.bottom_title
// 		{
// 			text-transform: uppercase;
// 			font-weight: bold;
// 			font-size: 12px;
// 			float:top;
// 		}

// 		.bottom_subtitle
// 		{
// 			float:bottom;
// 		}

// 		.bottom_icon
// 		{
// 			vertical-align: middle;
// 			text-align: center;
// 			margin: 0 0px;
		
// 		}

// 		.bottom_title_container
// 		{
// 			overflow:inherit;
// 			float:left;
// 			text-align:right;
// 			width:200px;
// 			/* margin-left:150px; */
// 		}


// }

// .form_column_left
// {

// 	float: left;
// 	width:250px;
// 	height: auto;
// }

// .form_column_right
// {

// 	float: right;
// 	width:333px;
// }


// form {
//     margin-left:-247px;
//     margin-right:auto;
//     width: 600px;
//     height: 333px;
//     overflow: hidden; 
//     text-align: center;
//     float: left;
// }

// textarea{
// 	background: rgba(255, 255, 255, 0) no-repeat scroll 16px 16px; 
//     height: 94px;
//     border-bottom: 1px solid white;
//     -moz-background-clip: padding;
//     -webkit-background-clip: padding-box;
//     background-clip: padding-box; 
//     display:block;
//     color:#fff;
//     padding-right:20px;
//     padding-top:12px;
//     overflow:hidden;
// }
// textarea[type=message]{
	
// 	height: 94px;
// 	}

// input {
//     width: 276px;
//     height: 48px;
//     border-bottom: 1px solid white;
//     display:block;
//     color:#fff;
//     padding-left:20px;
//     padding-right:20px;
//     margin-bottom:20px;
//     -moz-background-clip: padding;
//     -webkit-background-clip: padding-box;
//     background-clip: padding-box;
// }

// input[type=submit] {
//     cursor:pointer;
//     font-size: 12px;
// }

// input.name {
// 	background: rgba(255, 255, 255, 0); 
// 	border: 0px;
// 	border-bottom: 1px solid white;
// 	margin-bottom: 26px;
// 	color: #fff;
// }


// input.message {
// 	  background: rgba(255, 255, 255, 0);
// 	  height:94px;
	  
// }

// ::-webkit-input-placeholder {
// 	  color: #fff;

// }

// :-moz-placeholder{ 
//     color: #fff; 
    
// }

// ::-moz-placeholder {
//     color: #fff;

// }

// :-ms-input-placeholder {  
// 	  color: #fff; 
	
// }

// input[type=text]:focus, input[type=email]:focus, textarea:focus { 

// 	background-color: rgba(0, 0, 0, 0.2);
//     overflow: hidden; 
//   	outline: 0px;
 
  	
// }


// .btn {
// 	 width: 100%;
// 	 height: 45px;
// 	 border:0px;
// 	 float:right;
//      background: #B71C1C;
    
// }

// .btn:hover {
//    border:0px;
//     background: #921313;
    
//  }

// .btn:active {
//     margin-top:1px;
//     text-shadow: #333333 0 -1px 0;
//     border: 1px solid #253737;
//     background: #6da5a3;
//     background-image: -ms-linear-gradient(top, #416b68 0%, #6da5a3 100%);
//     color: #fff;
//     -webkit-box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
//     -moz-box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
//     box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
//    }

// .footer_bg{
// 	background-color: #222222;
// 	text-align: center;
// 	margin: auto;
// 	padding: 30px 0px 60px 0;
// 	color: #474747; 

// 	ul {
//     text-transform: uppercase;
//     display:inline-flex;
//   	}

// 	ul li{
	
// 		list-style: disc;
// 		padding: 0;
// 		margin: 0 0 0 30px;
// 		width: auto;
// 		&:first-child{
// 			list-style: none;
// 		}
// 	}

// 	ul li a{
// 		color: #474747; 
// 		font-weight: bold;
// 		text-decoration: none;
// 	}

// 	li:not(.has-form) {
// 		background: none;
// 		a:not(.button) {
// 			background: none;
// 			text-transform: uppercase;
// 			font-size: 14px;
// 			padding: 0 10px;
// 			&:hover{
// 				background: none;
// 			}
// 		}

// 		&.active{
// 			a:not(.button) {
// 				padding: 0;
// 				background: none;

// 				&:hover{
// 					background: none;
// 				}
// 			}
// 		}

// 		&:before{
// 			 color: #474747; 
// 				}
	
// 	}

// 	.icon_space{
// 		padding: 0 20px 10px 5px;
// 		color: #474747;
// 			}
		
// }
